* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #c7c5f4, #776bcc);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 900px;
  height: 500px;
  background: url("C:\Users\pedap\OneDrive") no-repeat center;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 320px;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  color: #fff;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  outline: none;
  color: #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  color: #eee;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.options a {
  color: #fff;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #fff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.register {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.register a {
  color: #fff;
  text-decoration: underline;
}
